Gemfile.lock
rspec.log
.ruby-version
/.bundle
/log
pkg/
/coverage
/tmp
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/log
/spec/dummy/tmp
/spec/dummy/.sass-cache
/spec/examples.txt
.DS_Store
Desktop.ini
Thumbs.db
.Trashes
